<ng-container *ngIf="serverStatus$ | async as status; else FetchingData">
  <app-generic-popup
    title="System data"
    titleColor="warning"
    [subtitle]="status.ip"
  >
    <div class="flex flex-col justify-center items-start space-y-4">
      <div class="information-item text-center">
        <span class="title-{{ status.success ? 'success' : 'danger' }}">{{
          status.success ? "CONNECTED" : "CONNECTION ERROR"
        }}</span>
      </div>
      <div class="information-item" *ngIf="status.success">
        <p>
          <span>MOTD:</span>
          <span> {{ status.motd }} </span>
        </p>
        <p>
          <span> UPTIME: </span>
          <span> {{ uptimeFormatter(status.uptime) }} </span>
        </p>
        <p>
          <span> VERSION:</span>
          <span> {{ status.version }} </span>
        </p>
      </div>
    </div>
  </app-generic-popup>
</ng-container>

<ng-template #FetchingData>
  <div class="relative w-9/12 m-auto h-full flex flex-col justify-center p-10">
    <app-toast [message]="'Obtaining system data ...'"></app-toast>
  </div>
</ng-template>
