<div
  *ngIf="loading"
  class="relative w-full lg:w-9/12 m-auto h-full flex flex-col justify-center p-10"
>
  <app-toast
    *ngIf="toastConfig$ | async as conf"
    [message]="conf.message"
    [messageColor]="conf.color"
  ></app-toast>
</div>

<div *ngIf="serverStatus$ | async as status" class="space-y-2 relative">
  <!-- <div class="relative w-full p-2">
    <app-toast
      message="Access feed"
      subtitle="opens [[ip]] on a new tab"
    ></app-toast>
  </div> -->
  <app-generic-popup
    *ngIf="!loading"
    headerTitle="System data"
    titleColor="warning"
    [subtitle]="status.ip"
  >
    <div class="flex flex-col justify-center items-start space-y-4">
      <div class="information-item text-center">
        <span
          class="title-{{ status.success ? 'success' : 'danger' }} text-lg "
          >{{ status.success ? "CONNECTED" : "CONNECTION FAILED" }}</span
        >
      </div>

      <div class="information-item flex justify-center" *ngIf="!status.success">
        <button class="machine button" (click)="retryConnection()">
          Retry
        </button>
      </div>
      <div class="information-item" *ngIf="status.success">
        <p>
          <span>MOTD:</span>
          <span> {{ status.motd }} </span>
        </p>
        <p>
          <span title="polling rate"> P-RATE:</span>
          <span> {{ pollingRate }}ms </span>
        </p>
        <p>
          <span> UPTIME: </span>
          <span [class.title-warning]="status.uptime < 3600">
            {{ uptimeFormatter(status.uptime) }}
          </span>
        </p>
        <p>
          <span> VERSION:</span>
          <span> {{ status.version }} </span>
        </p>
      </div>
    </div>
  </app-generic-popup>
</div>
