<ng-container *ngIf="serverStatus$ | async as status; else FetchingData">
  <app-generic-popup
    title="System Information"
    titleColor="warning"
    [subtitle]="status.ip"
  >
    <div class="flex flex-col justify-center items-start space-y-4">
      <div class="information-item">
        <p>MOTD: {{ status.motd }}</p>
        <p>UPTIME: {{ uptimeFormatter(status.uptime) }}</p>
        <p>VERSION: {{ status.version }}</p>
      </div>
      <div class="information-item">
        <span class="title-{{ status.success ? 'success' : 'danger' }}">{{
          status.success ? "CONNECTED" : "CONNECTION ERROR"
        }}</span>
      </div>
    </div>
  </app-generic-popup>
</ng-container>

<ng-template #FetchingData>
  <div class="relative">
    <app-toast
      [message]="'Fetching system information...'"
      messageColor="warning"
    ></app-toast>
  </div>
</ng-template>
