<app-generic-popup title="client data" titleColor="info">
  <div class="flex flex-col justify-center items-start space-y-4">
    <div class="information-item">
      <ng-container *ngIf="clientIP$ | async as ip; else NoIp">
        <p>
          <span> SOURCE:</span>
          <span> {{ ip }}</span>
        </p>
      </ng-container>
      <p>
        <span> target:</span>
        <span class="truncate text-xs lg:text-sm whitespace-nowrap">
          {{ targetAddress }}</span
        >
      </p>
      <p>
        <span> auth:</span> <span> "{{ authKey }}" </span>
      </p>
    </div>
    <div class="information-item">
      <p>
        <span> CURRENT DATE:</span> <span> {{ currentDate$ | async }}</span>
      </p>
      <p>
        <span> CURRENT TIME:</span> <span>{{ currentTime$ | async }}</span>
      </p>
    </div>
  </div>
</app-generic-popup>

<ng-template #NoIp>
  <p class="relative"></p>
  <p>
    <span> SOURCE: </span>
    <span class="title-warning"> obtaining IPv4... </span>
  </p>
</ng-template>
