<app-loading [destroy$]="destroyLoading$"></app-loading>

<app-toast
  *ngIf="hasError$ | async"
  message="couldn't fetch camera"
  [showWarning]="true"
  messageColor="danger"
></app-toast>

<ng-container *ngIf="cameraInfo$ | async as info">
  <app-generic-popup
    title="Camera stream"
    decorator="recording"
    [subtitle]="info.ip"
    class="relative"
  >
    <ng-container *ngIf="camera$ | async as camera; else noFeed">
      <div
        class="absolute scale-75 top-0 right-0 z-10 w-8/12 lg:w-4/12 text-xs lg:text-base"
      >
        <app-generic-popup [title]="info.location" [subtitle]="info.name">
          <div class="flex flex-col space-y-2 p-2">
            <div class="space-x-2">
              <span class="font-bold">FPS:</span>
              <span>{{ fps }}</span>
            </div>
            <div class="space-x-2">
              <span class="font-bold">Resolution:</span>
              <span>{{ info.resolution }}</span>
            </div>
          </div>
        </app-generic-popup>
      </div>
      <div class="img-wrapper max-h-[50vh] lg:max-h-[70vh]">
        <img [src]="camera" class="mx-auto w-full h-full" />
      </div>
    </ng-container>
  </app-generic-popup>
</ng-container>

<ng-template #noFeed>
  <div class="p-2">FEED UNAVAILABLE</div>
</ng-template>
