.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.font {
  font-family: "inconsolata", monospace !important;
  text-transform: none !important;
}
