<div
  class="fixed h-screen w-screen bg-white z-[99] top-0 left-0"
  *ngIf="!(destroy$ | async)"
  [class.boot-animation]="bootAnimation"
  @animateDestroy
>
  <div class="flex justify-center">
    <button
      class="font-poppins font-extrabold title-danger p-2 border border-red-500 rounded-lg m-2"
      [routerLink]="['/home']"
    >
      GO HOME
    </button>
  </div>
  <div class="loading"></div>
  <div class="flex flex-col h-full justify-center">
    <div
      id="loading-text"
      class="text-center text-2xl font-bold font-poppins uppercase"
    >
      {{ message }}
    </div>
  </div>
</div>
